.navbar__container {
    padding-right: 2rem;
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    height: 6rem;
    display: flex;
    position: fixed;
    align-items: center;
    font-size: 30px;
    visibility: visible;
    font-family: 'pacificacondensed';
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.navbar__header {
    position: absolute;
    cursor: pointer;
    width: 250px;
    margin-left: 2rem;
    font-size: 35px;
    transition: 0.3s ease-in-out;
    text-align: left;
}
.navbar__header:hover {
    color: rgb(221, 224, 44);
    transition: 0.3s ease-in-out;

}
.navbar__link_container {
    padding-right: 5rem;
    justify-content: end;
    width: 100%;
    display: flex;
    float: right;
}
.navbar__link {
    margin-right: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;

}
.navbar__link:hover {
    color: rgb(221, 224, 44);
    transition: 0.3s ease-in-out;
    
}
.navbar__smaller a {
    text-decoration: none;
    color: white;
    font: inherit;
    margin-top: 2rem;
}
.navbar__smaller{
    font-family: 'pacificacondensed';
    letter-spacing: 0.1em;
    font-size: 2rem;
    align-items: center;
    text-align: center;
    background-color: rgb(33, 33, 49);
    right: 0;
    position: fixed;
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: 6rem;
    z-index: 102;
    transition: 0.5s ease-in-out;
    padding-bottom: 2rem;
    border-bottom-left-radius: 10px;
}
.navbar__smaller_hide {
    z-index: -100;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    
}
.navbar__dropdown {
    z-index: 20;
    display: none;
}
.navbar__dropdown > img {
    z-index: 200;
}
@media screen and (max-width: 1025px) {
    .navbar__header {
        margin-left: 5px;
    }
    .navbar__link_container {
        padding-right: 0rem;
    }
    .navbar__link {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .navbar__container {
        justify-content: left;
    }
    .navbar__link_container{
        text-align: center;
        margin-left: 1rem;
    }
    .navbar__link {
        text-align: center;
        display: none;
    }
    .navbar__dropdown {
        border-radius: 20px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.171);
        position: absolute;
        right: 2rem;
        display: flex;
        cursor: pointer;
        margin: 1rem;
    }
    
}