body {
  background-color: rgb(19, 18, 18);
  margin: 0;
  font-family: 'pacificacondensed';
}
@font-face {
  font-family: 'pacificacondensed';
  src: url('./assets/pacifica_condensed_regular-webfont.woff2') format('woff2'),
    url('./assets/pacifica_condensed_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar-thumb {
  width: 0;
}
::-webkit-scrollbar {
  width: 0;
  background-color: #1b1b1b;
}
.image__delete-btn {
  z-index: 1;
  color: red;
  top: -1rem;
  right: 29px;
  font-size: 4rem;
  font-weight: 1000;
  position: absolute;
  cursor: pointer;
}
.gallery__image {
  position: relative;
}
@media screen and (max-width: 1000px) {
  .image__delete-btn {
    font-size: 2rem;
    right: 5px;
    top: -10px;
  }
}
